<form>
    <div class="soilHorizon">
        <label>水平震度</label>:
        <div class="soilHorizon-input">
            <input class="input" id="seimic" name="seimic" type="number" step="1" [(ngModel)]="data.seimic"  />
        </div>
    </div>
    <div class="soilHorizon">
        <label>分割幅</label>:
        <div class="soilHorizon-input">
            <input type="number" name="dWidth" [(ngModel)]="data.dWidth" />m
        </div>
    </div>
    <div class="soilHorizon">
        <label>浮力の考慮:</label>
        <div class="soilHorizon-input">
            <div class="toggle toggle--switch">
                <form name="form1">
                    <input type="checkbox" id="toggle--switch" name="g2" class="toggle--checkbox" style="display: none;" (change)="setFloat()">
                    <label class="toggle--btn" for="toggle--switch"><span class="toggle--feature" data-label-on="考慮する"
              data-label-off="間隙水圧"></span></label>
                </form>
            </div>
        </div>
    </div>

    <div class="soilHorizon">
        <label>飽和時と自然状態の単位体積重量の差</label>:
        <div class="soilHorizon-input">
            <input type="number" name="waterDif" [(ngModel)]="waterDif" />
        </div>
    </div>
    <div class="soilHorizon">
        <label>斜面の形状</label>:
        <div class="soilHorizon-input">
            <!-- <select id="diagonal" required>
        <option *ngFor="let i of diagonal" [value]="diagonal">
          {{i}}</option>
      </select> -->
        </div>
    </div>
    <div class="soilHorizon">
        <label>計算過程</label>:
        <div class="soilHorizon-input">
            <!-- <select id="diagonal" required>
        <option *ngFor="let i of calcShow" [value]="calcShow">
          {{i}}</option>
      </select> -->
        </div>
    </div>
    <div class="soilHorizon">
        <label>分割円の中心初期値x0</label>:
        <div class="soilHorizon-input">
            <input type="number" name="x0" [(ngModel)]="data.x0" />m
        </div>
    </div>
    <div class="soilHorizon">
        <label>分割円の中心初期値y0</label>:
        <div class="soilHorizon-input">
            <input type="number" name="y0" [(ngModel)]="data.y0" />m
        </div>
    </div>
    <div class="soilHorizon">
        <label>すべり円の半径初期値r0</label>:
        <div class="soilHorizon-input">
            <input type="number" name="r0" [(ngModel)]="data.r0" />m
        </div>
    </div>
</form>