<div class="header">
    <div class="container">
        <div class="liner">
            <!--            <img src="./assets/img/logo.png" />-->
            <app-menu></app-menu>

        </div>
    </div>
</div>
<div class="body-container">
    <div class="btn-group">
        <nav>
            <div class="input-area">
                <a routerLink="./initialCondition" (click)="contentsDailogShow(0)" routerLinkActive="selected-item" id="0" class="btn-md btn-blue">
                    <div class="icon-img ppt">
                        <img src="./assets/img/force.png" width="60" height="40" style="margin-right: -3px">
                    </div>
                    <p>初期条件</p>
                </a>
                <a routerLink="./surface" (click)="contentsDailogShow(1)" routerLinkActive="selected-item" id="1" class="btn-md btn-blue">
                    <div class="icon-img ppt">
                        <img src="./assets/img/force.png" width="60" height="40">
                    </div>
                    <p>地表</p>
                </a>
                <a routerLink="./soil" (click)="contentsDailogShow(2)" routerLinkActive="selected-item" id="2" class="btn-md btn-blue">
                    <div class="icon-img ppt">
                        <img src="./assets/img/force.png" width="60" height="40">
                    </div>
                    <p>地層</p>
                </a>
                <a routerLink="./waterlevel" (click)="contentsDailogShow(3)" routerLinkActive="selected-item" id="3" class="btn-md btn-blue">
                    <div class="icon-img ppt">
                        <img src="./assets/img/force.png" width="60" height="40">
                    </div>
                    <p>水位線</p>
                </a>
                <a routerLink="./load" (click)="contentsDailogShow(4)" routerLinkActive="selected-item" id="4" class="btn-md btn-blue">
                    <div class="icon-img">
                        <img src="./assets/img/force.png" width="50" height="50">
                    </div>
                    <p>荷重</p>
                </a>

                <p class="guide">入力</p>
            </div>

        </nav>
    </div>
</div>

<div class="boy-container" id="body-container-id">
    <div class="three-container" id="three-container-id">
        <app-three></app-three>
    </div>
</div>

<div cdkDrag *ngIf="user.isContentsDailogShow" class="contents-dailog" id="contents-dialog-id">
    <!-- ドラッグハンドルをテーブルの後ろに敷いて、テーブル領域以外がドラッグされたらcontetns-dialogを移動するイメージ -->
    <div class="dialog-header">
        <div cdkDragHandle class="dialog-drag-handle">
        </div>
        <div class="button-area">
            <button (click)="dialogClose()" class="dialog-close-button"><span>×</span></button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>