<!-- <div class="datasheet_inner" [style.width.px]="width">
    <div class="boxContainer">
      <div class="btn-group">
        <nav>
          <a routerLink="/soil" routerLinkActive="selected-item" class="btn-change">土質定数</a>
          <a routerLink="/strana" routerLinkActive="selected-item" class="btn-change active">地層折点</a>
        </nav>
      </div>
  +


  6
      <div class="pager">
        <app-pager (event)="onReceiveEventFromChild($event)"></app-pager>
      </div>
      
      <div class="load-name">
        <p>{{ strana_name }}</p>
      </div>
    </div>
  
    <app-sheet #grid [options]="options"></app-sheet>
  </div> -->